<div *ngIf="powerline$ | async as powerline">
  <app-info-with-map
    [title]="powerline.name"
    [infoFields]="infoFields"
    [actions]="actions">
    <div details>
      <div class="alert-panel">
        <ng-container *ngIf="allAlerts && allAlerts.length > 0">
          <app-expansion-grid
            title="Lista alarmów w danej linii energetycznej"
            [data]="allAlerts"
            [noSelection]="false"
            (itemsSelected)="setAlerts($event)">
          </app-expansion-grid>
        </ng-container>
      </div>
      <ng-container *ngIf="allOrders$ | async as orders">
        <div class="orders-panel" *ngIf="orders.length > 0">
          <h2 class="title">Aktywne powiązane zlecenia</h2>

          <app-grid-table
            [data]="orders"
            [noSelection]="true">
          </app-grid-table>
        </div>
      </ng-container>
    </div>
    <app-map map [powerline]="powerline" [alerts]="alertsSelected"></app-map>
  </app-info-with-map>
</div>




