.chart-wrapper {
  min-width: 500px;
  min-height: 240px;
  padding-left:10px;
  background-color: white;

h2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: #A6A6A6;
  padding-left: 14px;
  padding-top: 14px;
}
}
